@tailwind base;

@tailwind components;

@tailwind utilities;

body, html, #root {
	background-color: white;
	margin:0;
	padding:0;
}

.row .col.s6 {
	width: 46%;
	margin-left: 26%;
	margin-bottom: -9%;
}

.row .col.s6 .filter{
	color: blue;
	width: 10%;
	margin-left: 5%;
	margin-bottom: 5%;
	background-color: #545f7a !important;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

/* ------------- Sign Up --------------*/

#create-account {
	width: 256px;
	height: 43px;
	background-color: #1ABC9C;
	border-radius: 4px;
	color: white;
	margin-top: 15px;
	cursor: pointer;
}

.signup__title {
	text-align: center;
	font-family: Rubik;
	font-size: 24px;
	line-height: 28px;
	color: #545F7A;
}

.signup__information {
	text-align: center;
	font-family: Rubik;
	font-size: 18px;
	line-height: 19px;
	color: #545F7A;
}

.signup__information:hover{
	color: #12a7e6;
}

#email-in {
	width: 256px;
	margin-top: 24px;
	height: 36px;
	background-color: #FFFFFF;
	border: 1px solid #D0D2D3;
	border-radius: 2px;
}

input#email-in {
	padding-left: 5px;
	font-family: Chivo;
	font-size: 16px;
	color: #A5A5A5;
}

input#password-in {
	padding-left: 5px;
	font-family: Chivo;
	font-size: 16px;
	color: #A5A5A5;
}

#password-in {
	width: 256px;
	margin-top: 16px;
	height: 36px;
	background-color: #FFFFFF;
	border: 1px solid #D0D2D3;
	border-radius: 2px;
}